@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple-strong: oklch(0.3911 0.1842 313.06);
  --color-purple-light: oklch(0.5424 0.2088 305.65);
  --color-purple-pastel: oklch(0.6868 0.2088 305.65);
  --color-blue-strong: oklch(0.3461 0.2064 262.97);
  --color-blue-light: oklch(0.578 0.2193 262.97);
  --color-blue-pastel: oklch(0.7049 0.1447 262.97);
  --color-red-strong: oklch(0.5078 0.1965 28.99);
  --color-red-light: oklch(0.6049 0.162 28.99);
  --color-red-pastel: oklch(0.6402 0.1324 28.99);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-amaranth);
  --font-common: var(--font-barlow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
